@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Montserrat', sans-serif!important;
}

h2{
    font-size: 2rem;
    margin: 2rem 0;
}

h3{
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

p{
    margin: 1.5rem 0;
}


[x-cloak] {
    display: none;
}

.hero{
    background: linear-gradient(to right, #ffffff, #4A90E2);
}


.call-btn{
    background-color: #E53935;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    cursor: pointer;
}

ol, ul, li {
    list-style: circle;
    margin: 0.5rem;
    padding: 0.5rem;
}

.logo-mark{
    height: 7rem!important;
}

.main-container{
    padding-top: 7rem;
}

[x-cloak] {
    display: none !important;
}
